#left{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    width:48%;
    height:80%;
}
#right{
    display: inline-block;
    vertical-align: top;
    width:48%;
    height:80%;
}